<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active">
          Platzi Store
        </a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
      <a mat-raised-button matBadge="4" matBadgeColor="warn">
        Carrito
        <mat-icon>shopping_cart</mat-icon>
      </a>
  </mat-toolbar-row>
</mat-toolbar>
