<form >

  <p>Contact us</p>

  <!-- Name -->
  <input type="text" formControlName="name" id="name" placeholder="Name">

  <!-- Email -->
  <input type="email" formControlName="email" id="email" placeholder="E-mail">

  <!-- Subject -->
  <label>Subject</label>
  <select formControlName="subjects">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Feedback</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>

  <!-- Message -->
  <div>
    <textarea formControlName="message" id="message"
      rows="3" placeholder="Message"></textarea>
  </div>

  <!-- Copy -->
  <!-- <checkbox default="true" class="mb-4">Send me a copy of this message</checkbox> -->

  <!-- Send button -->
  <button type="submit">Send</button>

</form>
<!-- Default form contact -->
