<form>
  <h2>Contact Us</h2>

  <!-- Name -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" id="name">
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" id="email">
  </mat-form-field>

  <!-- Subject -->
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <mat-select formControlName="subjects">
      <mat-option value="" disabled>Choose option</mat-option>
      <mat-option value="1" selected>Feedback</mat-option>
      <mat-option value="2">Report a bug</mat-option>
      <mat-option value="3">Feature request</mat-option>
      <mat-option value="4">Feature request</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Message -->
  <mat-form-field>
    <mat-label>Leave a message</mat-label>
    <textarea matInput formControlName="message" id="message"
      rows="3"></textarea>
  </mat-form-field>

  <!-- Send button -->
  <button mat-raised-button>Cancel</button>
  <button mat-raised-button color="primary" type="submit">Send</button>

</form>
<!-- Default form contact -->
