:host {
  text-align: center;
}

.header-table {
  margin: 2%;
  padding: 5px;
}

.table-container {
  margin: 2%;
  width: 96%;
  text-align: left;
}

.full-width-table {
  width: 100%;
}

.mat-mini-fab {
  margin: 2px;
}
