<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{ product.title | uppercase }}</h3>
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.price | currency }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" [alt]="'Imagen del producto ' + product.title">
  </div>
  <mat-card-content>
    <p>{{ product.description | slice:0:20 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      [routerLink]="[product.id]"
      routerLinkActive="active">
      Ver detalle
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="addCart()">
        Agregar al carrito
    </button>
  </mat-card-actions>
</mat-card>
