footer {
  text-align: center;
  padding: 10px;
  background: #efefef;
  bottom: 0;
  margin-top: 20px;
  border-top: 0.5px solid rgba(0,0,0,0.10);
}

img {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.corazon {
  animation: latidos .5s infinite;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

ul li {
  display:inline;
}

li a {
  text-decoration: none;
}

@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}
