<footer>
  <h4 matSubheader>
    Developed with 💙 by
    <span>Alejandro Mejía.</span>
    &copy; 2020 All rights reserved.
  </h4>
  <ul>
    <li>
      <a mat-button href="mailto:alejandromejia2013.27@gmail.com">
        <img src="assets/svg/email.svg">
      </a>
    </li>
    <li>
      <a mat-button href="tel:+542215520512" class="contact-link">
        <img src="assets/svg/phone.svg">
      </a>
    </li>
    <li>
      <a mat-button href="https://www.facebook.com/JandroMejia97/" target="_blank">
        <img src="assets/svg/facebook.svg">
      </a>
    </li>
    <li>
      <a mat-button href="https://twitter.com/JandroMejia97" target="_blank">
        <img src="assets/svg/twitter.svg">
      </a>
    </li>
    <li>
      <a mat-button href="https://github.com/JandroMejia97" target="_blank">
        <img src="assets/svg/github.svg">
      </a>
    </li>
    <li>
      <a mat-button href="https://www.linkedin.com/in/jandromejia97/" target="_blank">
        <img src="assets/svg/linkedin.svg">
      </a>
    </li>
  </ul>
</footer>
